<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 136-min.png</string>
		<key>imgUnlock</key>
		<string>Asset 136-min.png</string>
		<key>bouns</key>
		<integer>100</integer>
		<key>Mode</key>
		<integer>997</integer>
		<key>Des</key>
		<string>Play Timed Mode</string>
		<key>square</key>
		<integer>0</integer>
		<key>Name</key>
		<string>Speed Dot</string>
		<key>StatusUnlock</key>
		<string>Status Speed Dot</string>
	</dict>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 137-min.png</string>
		<key>imgUnlock</key>
		<string>Asset 136-min.png</string>
		<key>bouns</key>
		<integer>100</integer>
		<key>Mode</key>
		<integer>998</integer>
		<key>Name</key>
		<string>Step Dot</string>
		<key>square</key>
		<integer>0</integer>
		<key>Des</key>
		<string>Played Moves Mode</string>
		<key>StatusUnlock</key>
		<string>Status Step Dot</string>
	</dict>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 131-min.png</string>
		<key>imgUnlock</key>
		<string>Asset 136-min.png</string>
		<key>bouns</key>
		<integer>50</integer>
		<key>Mode</key>
		<integer>0</integer>
		<key>square</key>
		<integer>1</integer>
		<key>Des</key>
		<string>Make a square</string>
		<key>Name</key>
		<string>Square One</string>
		<key>StatusUnlock</key>
		<string>Status Square One</string>
	</dict>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 128-min.png</string>
		<key>imgUnlock</key>
		<string>Asset 136-min.png</string>
		<key>bouns</key>
		<integer>100</integer>
		<key>Mode</key>
		<integer>0</integer>
		<key>square</key>
		<integer>5</integer>
		<key>Name</key>
		<string>Five Square</string>
		<key>Des</key>
		<string>Make 5 squares</string>
		<key>StatusUnlock</key>
		<string>Status Five Square</string>
	</dict>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 141-min.png</string>
		<key>bouns</key>
		<integer>200</integer>
		<key>Mode</key>
		<integer>0</integer>
		<key>square</key>
		<integer>10</integer>
		<key>Name</key>
		<string>Lucky Star</string>
		<key>Des</key>
		<string>Make 10 squares</string>
		<key>StatusUnlock</key>
		<string>Status Lucky Star</string>
	</dict>
	<dict>
		<key>img</key>
		<string>res/NewFolder/resize/Asset 129-min.png</string>
		<key>imgUnlock</key>
		<string>Asset 136-min.png</string>
		<key>bouns</key>
		<integer>300</integer>
		<key>Mode</key>
		<integer>0</integer>
		<key>square</key>
		<integer>20</integer>
		<key>Des</key>
		<string>Make 20 squares</string>
		<key>Name</key>
		<string>20/20 Vision</string>
		<key>StatusUnlock</key>
		<string>Status 20/20 Vision</string>
	</dict>
</array>
</plist>
