<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Money</key>
	<integer>1000000</integer>
	<key>PlusForTime</key>
	<integer>5</integer>
	<key>PlusForExpand</key>
	<integer>5</integer>
	<key>PlusForShin</key>
	<integer>10</integer>
	<key>MoneyShrin</key>
	<integer>100</integer>
	<key>MoneyExpand</key>
	<integer>500</integer>
	<key>MoneyTime</key>
	<integer>500</integer>
	<key>ItemTime</key>
	<integer>1</integer>
	<key>ItemShrinker</key>
	<integer>1</integer>
	<key>ItemExpander</key>
	<integer>1</integer>
</dict>
</plist>
