<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Space</string>
		<key>price</key>
		<integer>5000</integer>
		<key>colorAchie</key>
		<string>109 109 109</string>
		<key>colorAchieUnlock</key>
		<string>255 255 255</string>
		<key>colorBestTime</key>
		<string>242 84 93</string>
		<key>colorBestMove</key>
		<string>52 199 215</string>
		<key>colorPanel</key>
		<string>134 134 134</string>
		<key>backgroundGame</key>
		<string></string>
		<key>ColorFont</key>
		<string>255 255 255</string>
		<key>listanimal</key>
		<array>
			<string>animal/animal/Asset 105-min.png</string>
			<string>animal/animal/Asset 106-min.png</string>
			<string>animal/animal/Asset 107-min.png</string>
			<string>animal/animal/Asset 108-min.png</string>
			<string>animal/animal/Asset 109-min.png</string>
		</array>
		<key>background</key>
		<string>animal/bg/1.jpg</string>
		<key>background3B</key>
		<string></string>
		<key>buttonBack</key>
		<string>animal/resize/Asset 78-min.png</string>
	</dict>
</array>
</plist>
